.vs/conway_life/FileContentIndex/6b397f29-863b-495c-a999-9ce94ffdc09f.vsidx
.vs/conway_life/FileContentIndex/88d7702f-b218-4b07-b1ce-2c754488f7c3.vsidx
.vs/conway_life/FileContentIndex/a9496a39-b0f2-4e38-ab86-91e496e9556c.vsidx
.vs/conway_life/FileContentIndex/d1ddb2b4-d392-460d-a3ad-c75392dbddf0.vsidx
.vs/conway_life/FileContentIndex/read.lock
.vs/conway_life/v17/.suo
.vs/conway_life/v17/Browse.VC.db
.vs/conway_life/v17/ipch/AutoPCH/63f39345e6c5c37b/CELL.ipch
.vs/conway_life/v17/ipch/AutoPCH/9d5bfc9d54441c5/LIFEFIELD.ipch
.vs/conway_life/v17/ipch/AutoPCH/de1ab51f4efdb5da/MAIN.ipch
.vs/conway_life/v17/ipch/AutoPCH/fb92435f8e5da08e/CELL.ipch
.vs/conway_life/v17/ipch/AutoPCH/fe5bf1bcad0edd4c/LIFEFIELD.ipch
conway_life/openal32.dll
conway_life/sfml-audio-2.dll
conway_life/sfml-audio-d-2.dll
conway_life/sfml-graphics-2.dll
conway_life/sfml-graphics-d-2.dll
conway_life/sfml-network-2.dll
conway_life/sfml-network-d-2.dll
conway_life/sfml-system-2.dll
conway_life/sfml-system-d-2.dll
conway_life/sfml-window-2.dll
conway_life/sfml-window-d-2.dll
conway_life/x64/Debug/cell.obj
conway_life/x64/Debug/conway_life.exe.recipe
conway_life/x64/Debug/conway_life.ilk
conway_life/x64/Debug/conway_life.log
conway_life/x64/Debug/LifeField.obj
conway_life/x64/Debug/main.obj
conway_life/x64/Debug/vc143.idb
conway_life/x64/Debug/vc143.pdb
conway_life/x64/Debug/conway_life.tlog/CL.command.1.tlog
conway_life/x64/Debug/conway_life.tlog/Cl.items.tlog
conway_life/x64/Debug/conway_life.tlog/CL.read.1.tlog
conway_life/x64/Debug/conway_life.tlog/CL.write.1.tlog
conway_life/x64/Debug/conway_life.tlog/conway_life.lastbuildstate
conway_life/x64/Debug/conway_life.tlog/link.command.1.tlog
conway_life/x64/Debug/conway_life.tlog/link.read.1.tlog
conway_life/x64/Debug/conway_life.tlog/link.write.1.tlog
x64/Debug/conway_life.exe
x64/Debug/conway_life.pdb
